@import "normalize";
@import "html5boilerplate";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:900);

$bgColor: #fff;
$textColor: #25292C;

@mixin transitions ($prop, $duration: 1s) {
  transition: $prop $duration;
  -moz-transition: $prop $duration;
  -webkit-transition: $prop $duration;
  -o-transition: $prop $duration;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  background-color: $bgColor;
  color: $textColor;
}
hr {
  border-top: 1px solid #eee;
  margin: 60px 0;
}

h1 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 22px;
  line-height: 1.8;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

section {
  width: 60%;
  max-width: 860px;
  margin: 0 auto;
  padding: 0;
}

a {
  color: $textColor;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px dotted $textColor;
}
a:hover {
  border-bottom: 1px dotted transparent;
}
a, a:focus, a img, a:focus img {
  outline: none;
}
strong {
  font-weight: 400;
}
.csContent figure.floatL {
  float: left;
  margin-right: 6%;
  margin-top: 0;
  margin-left: -15%;
}
.clear {
  clear: both;
}

#introScreen {
  padding: 180px 0;
}

#resumeScreen {
  height: 210px;
  line-height: 210px;
  text-align: center;
}

#contactScreen {
  width: 100%;
  max-width: 100%;
}
#contactScreen a {
  display: block;
  width: 33.3%;
  height: 300px;
  text-align: center;
  float: left;
  color: $bgColor;
  background: #25292C;
  position: relative;
  -webkit-transition: background 0.15s ease;
  -moz-transition: background 0.15s ease;
  -ms-transition: background 0.15s ease;
  -o-transition: background 0.15s ease;
  transition: background 0.15s ease;
}
#contactScreen a:nth-child(2) {
  width: 33.4%;
}
#contactScreen a:hover {
  /*background: #C84963;*/
  background: #C5413C;
}
#contactScreen a:nth-child(2) {
  background: #42474B;
}
#contactScreen a:nth-child(2):hover {
  /*background: #D85A74;*/
  background: #D8504A;
}
#contactScreen a:nth-child(3) {
  background: #616669;
}
#contactScreen a:nth-child(3):hover {
  /*background: #E86782;*/
  background: #E65D56;
}
#contactScreen a div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
#contactScreen p,
#contactScreen svg {
  margin: 0;
  padding: 0;
}

.csScreen {
  height: 420px;
  background: #333;
  width: 100%;
  max-width: 100%;
  text-align: center;
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.csScreen p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.2;
}

.csScreen a {
  color: $bgColor;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-bottom: none;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.csScreen .csScreenInner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.csScreen .hoverLabel {
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 0;
  border-bottom: 1px solid $bgColor;
  -webkit-transform: translateX(-50%) translateY(-25px) translateZ(0);
  -moz-transform: translateX(-50%) translateY(-25px) translateZ(0);
  -o-transform: translateX(-50%) translateY(-25px) translateZ(0);
  transform: translateX(-50%) translateY(-25px) translateZ(0);

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.csScreen:hover .hoverLabel {
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-35px) translateZ(0);
  -moz-transform: translateX(-50%) translateY(-35px) translateZ(0);
  -o-transform: translateX(-50%) translateY(-35px) translateZ(0);
  transform: translateX(-50%) translateY(-35px) translateZ(0);
  opacity: 1;
}

#csBeyondApp {
  background: #485FA0;
}
#beyondAppPhone {
  width: 84px;
  height: 140px;
  background: transparent;
  border: 4px solid white;
  border-radius: 9px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#beyondAppPhone div {
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid white;
  border-radius: 6px;
  margin: 0;
  position: absolute;
  // -webkit-transition: top .3s, left .3s;
  // -moz-transition: top .3s, left .3s;
  // -o-transition: top .3s, left .3s;
  // transition: top .3s, left .3s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
#beyondAppPhone div:nth-child(1) {
  top: 25px;
  left: 8px;
}
#beyondAppPhone div:nth-child(2) {
  top: 25px;
  left: 32px;
}
#beyondAppPhone div:nth-child(3) {
  top: 25px;
  left: 56px;
}
#beyondAppPhone div:nth-child(4) {
  top: 49px;
  left: 8px;
}
#beyondAppPhone div:nth-child(5) {
  top: 49px;
  left: 32px;
}
#beyondAppPhone div:nth-child(6) {
  top: 49px;
  left: 56px;
}
#beyondAppPhone div:nth-child(7) {
  top: 73px;
  left: 8px;
}
#beyondAppPhone div:nth-child(8) {
  top: 73px;
  left: 32px;
}
#beyondAppPhone div:nth-child(9) {
  top: 73px;
  left: 56px;
}
#beyondAppPhone div:nth-child(10) {
  top: 97px;
  left: 8px;
}
#beyondAppPhone div:nth-child(11) {
  top: 97px;
  left: 32px;
}
#beyondAppPhone div:nth-child(12) {
  top: 97px;
  left: 56px;
}
#csBeyondApp:hover #beyondAppPhone div:nth-child(1) {
  left: -30px;
  top: -20px;
}
#csBeyondApp:hover #beyondAppPhone div:nth-child(2) {
  width: 64px;
  left: 8px;
}
#csBeyondApp:hover #beyondAppPhone div:nth-child(3) {
  left: 100px;
  top: -20px;
}
#csBeyondApp:hover #beyondAppPhone div:nth-child(4) {
  left: -40px;
  top: 35px;
}
#csBeyondApp:hover #beyondAppPhone div:nth-child(5) {
  width: 64px;
  left: 8px;
}
#csBeyondApp:hover #beyondAppPhone div:nth-child(6) {
  left: 120px;
  top: 45px;
}
#csBeyondApp:hover #beyondAppPhone div:nth-child(7) {
  left: -60px;
  top: 75px;
}
#csBeyondApp:hover #beyondAppPhone div:nth-child(8) {
  width: 64px;
  left: 8px;
}
#csBeyondApp:hover #beyondAppPhone div:nth-child(9) {
  left: 95px;
  top: 88px;
}
#csBeyondApp:hover #beyondAppPhone div:nth-child(10) {
  left: -75px;
  top: 135px;
}
#csBeyondApp:hover #beyondAppPhone div:nth-child(11) {
  width: 64px;
  left: 8px;
}
#csBeyondApp:hover #beyondAppPhone div:nth-child(12) {
  left: 98px;
  top: 145px;
}

#csPPDocumentation {
  background: #009cde;
}
#docuVisu {
  width: 110px;
  height: 135px;
  position: relative;
  margin: 0 auto;
}
#docuVisu img {
  position: absolute;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#ppFile1 {
  bottom: 10px;
  right: 0px;
}
#ppFile2 {
  bottom: 20px;
  right: 10px;
}
#ppFile3 {
  bottom: 30px;
  right: 20px;
}
#csPPDocumentation:hover #ppFile1 {
  -webkit-transform: translateX(10px) translateY(10px);
  -moz-transform: translateX(10px) translateY(10px);
  -o-transform: translateX(10px) translateY(10px);
  transform: translateX(10px) translateY(10px);
}
#csPPDocumentation:hover #ppFile3 {
  -webkit-transform: translateX(-10px) translateY(-10px);
  -moz-transform: translateX(-10px) translateY(-10px);
  -o-transform: translateX(-10px) translateY(-10px);
  transform: translateX(-10px) translateY(-10px);
}

#csDesignPractice {
  background: #E73E3E;
}
#csDesignPractice img:nth-child(2) {
  margin-top: 20px;
}
#csDesignPractice:hover img:nth-child(1) {
  -webkit-animation: rotate 6s linear infinite;
  -moz-animation: rotate 6s linear infinite;
  -o-animation: rotate 6s linear infinite;
  animation: rotate 6s linear infinite;
}
#csDesignPractice:hover img:nth-child(2) {
  -webkit-animation: rotateInv 6s linear infinite;
  -moz-animation: rotateInv 6s linear infinite;
  -o-animation: rotateInv 6s linear infinite;
  animation: rotateInv 6s linear infinite;
}
@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg); } }
@-moz-keyframes rotate { 100% { -moz-transform: rotate(360deg); } }
@-o-keyframes rotate { 100% { -o-transform: rotate(360deg); } }
@keyframes rotate { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-webkit-keyframes rotateInv { 100% { -webkit-transform: rotate(-360deg); } }
@-moz-keyframes rotateInv { 100% { -moz-transform: rotate(-360deg); } }
@-o-keyframes rotateInv { 100% { -o-transform: rotate(-360deg); } }
@keyframes rotateInv { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

#csCharts {
  background: #FC9A66;
}
#csCharts img {
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);

  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
#csCharts:hover img {
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -o-transform: scale(.9);
  transform: scale(.9);
}

#csCraftingCharts {
  background: #5bd8c2;
}
#csCraftingCharts #craftingChartsVisuContainer {
  border-bottom: 2px solid #3baa97;
  height: 100px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 300px;
}
#csCraftingCharts #craftingChartsVisuContainer div {
  background: #3baa97;
  height: 100px;
  width: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  -webkit-transition: height 300ms ease;
  -moz-transition: height 300ms ease;
  -o-transition: height 300ms ease;
  transition: height 300ms ease;
}
#csCraftingCharts #craftingChartsVisuContainer div:nth-child(1) {
  height: 5px;
}
#csCraftingCharts #craftingChartsVisuContainer div:nth-child(2) {
  left: 45px;
  height: 20px;
}
#csCraftingCharts #craftingChartsVisuContainer div:nth-child(3) {
  left: 90px;
  height: 35px;
}
#csCraftingCharts #craftingChartsVisuContainer div:nth-child(4) {
  left: 135px;
  height: 50px;
}
#csCraftingCharts #craftingChartsVisuContainer div:nth-child(5) {
  left: 180px;
  height: 65px;
}
#csCraftingCharts #craftingChartsVisuContainer div:nth-child(6) {
  left: 225px;
  height: 80px;
}
#csCraftingCharts #craftingChartsVisuContainer div:nth-child(7) {
  left: 270px;
  height: 95px;
}
#csCraftingCharts:hover #craftingChartsVisuContainer div:nth-child(1) {
  height: 45px;
}
#csCraftingCharts:hover #craftingChartsVisuContainer div:nth-child(2) {
  height: 15px;
}
#csCraftingCharts:hover #craftingChartsVisuContainer div:nth-child(3) {
  height: 45px;
}
#csCraftingCharts:hover #craftingChartsVisuContainer div:nth-child(4) {
  height: 60px;
}
#csCraftingCharts:hover #craftingChartsVisuContainer div:nth-child(5) {
  height: 45px;
}
#csCraftingCharts:hover #craftingChartsVisuContainer div:nth-child(6) {
  height: 90px;
}
#csCraftingCharts:hover #craftingChartsVisuContainer div:nth-child(7) {
  height: 75px;
}

#csPbxUpload {
  background: #62A6D9;
}
#loaderVisu {
  background: $bgColor;
  width: 250px;
  height: 20px;
  border-radius: 15px;
  padding: 3px;
  overflow: hidden;
  text-align: left;
  line-height: 20px;
  margin: 0 auto 45px;
}
#loaderVisuProgress {
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
  height:20px;
  width:75px;
  border-radius:15px;
  background: #224B6B;
}
#csPbxUpload:hover #loaderVisuProgress {
  width: 250px;
}

#csPbxUpsell {
  background: #E3AA4C;
}
#visuCircle {
  background: #765621;
  border-radius: 999px;
  width: 46px;
  height: 46px;
  margin: 0 auto 30px;
  padding: 0;
}
#visuCircle p {
  color: $bgColor;
  font-weight: 900;
  font-size: 39px;
  line-height: 41px;
  margin: 3px 0 0 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
}
#csPbxUpsell:hover #visuCircle {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/*CS*/
nav {
  width: 69px;
  text-align: center;
  position: fixed;
}
nav a {
  display: block;
  width: 100%;
  height: 100vh;
  position: relative;
  background: #ddd;
  border-bottom: none;
  -webkit-transition: background 0.1s ease;
  -moz-transition: background 0.1s ease;
  -ms-transition: background 0.1s ease;
  -o-transition: background 0.1s ease;
  transition: background 0.1s ease;
}
nav a:hover {
  background: #E65D56;
  border-bottom: none;
}
nav svg {
  width: 60px;
  height: 60px;
  fill: $bgColor;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.csContent {
  padding: 120px 30px;
}
.csContent header {
  margin: 90px 0 180px 0;
  text-align: center;
}
.csContent header p {
  margin: 0;
}
.csContent h3 {
  margin: 90px 0 30px;
}
.csContent figure {
  text-align: center;
  margin: 60px 0;
  position: relative;
}
.csContent figure figcaption {
  font-size: 1.1rem;
  font-style: italic;
  margin: 5px 0 0 0;
}
.csContent figure img {
  max-width: 100%;
  // border: 1px solid #eee;
}
.csContent figure a img {
  cursor: zoom-in;
}
.csContent .imageFigure.zoomable {
  cursor: zoom-in;
}
.zoomOverlay {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  cursor: zoom-out;
}
.zoomImg {
  width: auto;
  height: auto;
  cursor: zoom-out;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.csContent video {
  max-width: 100%;
}
.csContent p,
.csContent li {
  line-height: 1.8;
}

.foreword {
  width: 100%;
  border: 1px solid RGBA(230, 93, 86, .3);
  border-radius: 3px;
  background: RGBA(230, 93, 86, .1);
  padding: 30px 45px;
  box-sizing: border-box;
  color: #E65D56;
  font-size: 1rem;
}
.foreword h2 {
  font-size: 1.2rem;
}
.foreword a {
  color: #E65D56;
  border-bottom: 1px dotted #E65D56;
}
.foreword a:hover {
  border-bottom: 1px dotted transparent;
}
.foreword p {
  margin-top: 5px;
  margin-bottom: 0;
}
.mainLink {
  text-align: center;
  width: 100%;
  margin: 90px 0;
}

.ujContainer {
  height: 857px;
  margin-top: 60px;
}
.ujContainer p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
}

.videoOverlay {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.6);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}
.videoOverlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 72px;
  height: 72px;
}

@media all and (max-width: 999px) {
  .ujContainer {
    height: auto;
    text-align: center;
  }
  .csContent figure.floatL{
    float: none;
    margin: 60px auto 15px;
  }
  .ujContainer p {
    position: static;
    -webkit-transform: translateY(0);
  }
}

@media all and (max-width: 499px) {
  section {
    width: 90%;
  }
  h1 {
    font-size: 39px;
    line-height: 1.2;
  }
  #contactScreen a,
  #contactScreen a:nth-child(2) {
    width: 100%;
    float: none;
  }

  nav {
    width: 100%;
    text-align: left;
    position: static;
  }
  nav a {
    display: block;
    width: 100%;
    height: 60px;
    border-bottom: none;
  }
  nav a:hover {
    border-bottom: none;
  }
  nav svg {
    width: 45px;
    height: 45px;
    left: 15px;
    -webkit-transform: translateY(-50%) translateX(0);
    -moz-transform: translateY(-50%) translateX(0);
    -o-transform: translateY(-50%) translateX(0);
    transform: translateY(-50%) translateX(0);
  }
  .csContent {
    padding: 60px 0;
  }
  .csContent header {
    margin: 60px 0 120px 0;
    text-align: center;
  }
}
